body {
	font-family: Roboto, Arial, sans-serif;
	background: rgba(0,0,0,0.01);
	color: rgba(0,0,0,0.65);
}

a{
	color: rgb(3,155,229);
}

#back{
	margin-top: 15px;
	padding:30px 0;
}
.p-0{
	padding:0;
}
.m-0{
	margin:0;
}
.t-c{
	text-align: center;
}
h4{
	display: block;
}
.set{
	display: inline-block;
	width: 30%;
	margin: 1.5%;
}